<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BorrowMapper">

    <resultMap type="BorrowRecord" id="BorrowRecordResult">
        <id     property="borrowId"    column="borrow_id"     />
        <result property="readerId"    column="reader_id"     />
        <result property="bookId"      column="book_id"       />
        <result property="borrowDate"  column="borrow_date"   />
        <result property="dueDate"     column="due_date"      />
        <result property="returnDate"  column="return_date"   />
        <result property="status"      column="status"        />
        <result property="renewCount"  column="renew_count"   />
        <result property="fineAmount"  column="fine_amount"   />
        <result property="createBy"    column="create_by"     />
        <result property="createTime"  column="create_time"   />
        <result property="updateBy"    column="update_by"     />
        <result property="updateTime"  column="update_time"   />
        <result property="remark"      column="remark"        />
        <result property="readerName"  column="reader_name"   />
        <result property="bookName"    column="book_name"     />
    </resultMap>

    <sql id="selectBorrowVo">
        select br.borrow_id, br.reader_id, br.book_id, br.borrow_date, br.due_date,
               br.return_date, br.status, br.renew_count, br.fine_amount,
               br.create_by, br.create_time, br.update_by, br.update_time, br.remark,
               r.name as reader_name, b.name as book_name
        from tb_borrow_record br
        left join tb_reader r on br.reader_id = r.reader_id
        left join tb_book b on br.book_id = b.book_id
    </sql>

    <select id="selectBorrowList" parameterType="BorrowRecord" resultMap="BorrowRecordResult">
        select br.borrow_id, br.reader_id, br.book_id, br.borrow_date, br.due_date,
               br.return_date, br.status, br.renew_count, br.fine_amount,
               br.create_by, br.create_time, br.update_by, br.update_time, br.remark,
               r.name as reader_name, b.name as book_name
        from tb_borrow_record br
        left join tb_reader r on br.reader_id = r.reader_id
        left join tb_book b on br.book_id = b.book_id
        <where>
            <if test="borrowId != null and borrowId != 0">
                AND br.borrow_id = #{borrowId}
            </if>
            <if test="readerId != null and readerId != 0">
                AND br.reader_id = #{readerId}
            </if>
            <if test="bookId != null and bookId != 0">
                AND br.book_id = #{bookId}
            </if>
            <if test="status != null and status != ''">
                AND br.status = #{status}
            </if>
            <if test="readerName != null and readerName != ''">
                AND r.name like concat('%', #{readerName}, '%')
            </if>
            <if test="bookName != null and bookName != ''">
                AND b.name like concat('%', #{bookName}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                AND date_format(br.borrow_date,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                AND date_format(br.borrow_date,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
        </where>
        order by br.borrow_date desc
    </select>

    <select id="selectBorrowById" parameterType="Long" resultMap="BorrowRecordResult">
        <include refid="selectBorrowVo"/>
        where br.borrow_id = #{borrowId}
    </select>

    <select id="selectActiveByReaderId" parameterType="Integer" resultMap="BorrowRecordResult">
        <include refid="selectBorrowVo"/>
        where br.reader_id = #{readerId}
          and br.status in ('borrowing', 'overdue')
        order by br.due_date asc
    </select>

    <select id="selectActiveByBookId" parameterType="Integer" resultMap="BorrowRecordResult">
        <include refid="selectBorrowVo"/>
        where br.book_id = #{bookId}
          and br.status in ('borrowing', 'overdue')
        limit 1
    </select>

    <insert id="insertBorrow" parameterType="BorrowRecord" useGeneratedKeys="true" keyProperty="borrowId">
        insert into tb_borrow_record(
            <if test="readerId != null">reader_id,</if>
            <if test="bookId != null">book_id,</if>
            <if test="borrowDate != null">borrow_date,</if>
            <if test="dueDate != null">due_date,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="renewCount != null">renew_count,</if>
            <if test="fineAmount != null">fine_amount,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            create_time
        )values(
            <if test="readerId != null">#{readerId},</if>
            <if test="bookId != null">#{bookId},</if>
            <if test="borrowDate != null">#{borrowDate},</if>
            <if test="dueDate != null">#{dueDate},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="renewCount != null">#{renewCount},</if>
            <if test="fineAmount != null">#{fineAmount},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            sysdate()
        )
    </insert>

    <update id="updateBorrow" parameterType="BorrowRecord">
        update tb_borrow_record
        <set>
            <if test="returnDate != null">return_date = #{returnDate},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="renewCount != null">renew_count = #{renewCount},</if>
            <if test="dueDate != null">due_date = #{dueDate},</if>
            <if test="fineAmount != null">fine_amount = #{fineAmount},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where borrow_id = #{borrowId}
    </update>

</mapper>
